body {
	padding: 0;
	margin: 0;
	/* background-color: rgb(50, 50, 50); */
}

.page-grid {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 80% 20%;
}
.page-grid > div:not(:first-child) {
	text-align: center;
	padding: 20px;
}
.page-grid > div:first-child { /* heading */
	min-height: 300px;
	max-height: 1000px;
	width: auto;
	height: auto;
	grid-column-start: 1;
	grid-column-end: 3;
}

#heading {
	height: 50vw;
	width: inherit;
	position: relative;
	background-image: linear-gradient(to right, rgb(0, 112, 255), rgb(2, 211, 248));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 35%, 0 65%);
}

/*.page-grid-item3 {
	grid-column-start: 1;
	grid-column-end: 3;
}*/

.body-card {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.body-card * {
	padding: 10px;
}
/*.body-card:first-child {
	padding-top: 10px;
}
.body-card > section {
	padding-left: 10px;
	padding-right: 10px;
}
.body-card:last-child {
	padding-bottom: 10px;
}*/

#heading-svg {
	width: 50vw;
  height: 50vh; /* adjusts the font size with the page */

	padding-left: 20px;
  position: absolute;
  top: 30%;
	transform: translateY(-50%);

	animation: vector-fill-animation 0.5s ease forwards 4.4s;
}
/* all the numbers with high amounts of significant figures were gatheres using the 'logVectorSizes' function in JavaScript */
#heading-svg path:nth-child(1) {
	stroke-dasharray: 747.5885620117188;
	stroke-dashoffset: 747.5885620117188;
	animation: vector-stroke-animation 2s ease forwards;
}
#heading-svg path:nth-child(2) {
	stroke-dasharray: 260.1737060546875;
	stroke-dashoffset: 260.1737060546875;
	animation: vector-stroke-animation 2s ease forwards 0.2s;
}
#heading-svg path:nth-child(3) {
	stroke-dasharray: 274.0929870605469;
	stroke-dashoffset: 274.0929870605469;
	animation: vector-stroke-animation 2s ease forwards 0.4s;
}
#heading-svg path:nth-child(4) {
	stroke-dasharray: 171.22608947753906;
	stroke-dashoffset: 171.22608947753906;
	animation: vector-stroke-animation 2s ease forwards 0.6s;
}
#heading-svg path:nth-child(5) {
	stroke-dasharray: 167.51434326171875;
	stroke-dashoffset: 167.51434326171875;
	animation: vector-stroke-animation 2s ease forwards 0.8s;
}
#heading-svg path:nth-child(6) {
	stroke-dasharray: 210.1481475830078;
	stroke-dashoffset: 210.1481475830078;
	animation: vector-stroke-animation 2s ease forwards 1s;
}
#heading-svg path:nth-child(7) {
	stroke-dasharray: 480.7109375;
	stroke-dashoffset: 480.7109375;
	animation: vector-stroke-animation 2s ease forwards 1.2s;
}
#heading-svg path:nth-child(8) {
	stroke-dasharray: 167.51449584960938;
	stroke-dashoffset: 167.51449584960938;
	animation: vector-stroke-animation 2s ease forwards 1.4s;
}
#heading-svg path:nth-child(9) {
	stroke-dasharray: 263.85113525390625;
	stroke-dashoffset: 263.85113525390625;
	animation: vector-stroke-animation 2s ease forwards 1.6s;
}
#heading-svg path:nth-child(10) {
	stroke-dasharray: 210.14837646484375;
	stroke-dashoffset: 210.14837646484375;
	animation: vector-stroke-animation 2s ease forwards 1.8s;
}
#heading-svg path:nth-child(11) {
	stroke-dasharray: 216.20518493652344;
	stroke-dashoffset: 216.20518493652344;
	animation: vector-stroke-animation 2s ease forwards 2s;
}
#heading-svg path:nth-child(12) {
	stroke-dasharray: 276.8485412597656;
	stroke-dashoffset: 276.8485412597656;
	animation: vector-stroke-animation 2s ease forwards 2.2s;
}
#heading-svg path:nth-child(13) {
	stroke-dasharray: 211.9447784423828;
	stroke-dashoffset: 211.9447784423828;
	animation: vector-stroke-animation 2s ease forwards 2.4s;
}
#heading-svg path:nth-child(14) {
	stroke-dasharray: 274.0936279296875;
	stroke-dashoffset: 274.0936279296875;
	animation: vector-stroke-animation 2s ease forwards 2.6s;
}
@keyframes vector-stroke-animation {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes vector-fill-animation {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}

#title {
  font-size: 6vw; /* adjusts the font size with the page */
	color: white;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;

	margin: 0;
	padding-left: 20px;
  position: absolute;
  top: 30%;
	transform: translateY(-50%);
}
#logo {
	display: inline-block; /* tried using 'inline-block' to fix the minimum width */
	min-width: 30%;
	/* min-width: 40%; <-- doesn't work */
  width: 15px;
	float: right;
	padding: 10px
}
.body-title {
	font-size: 2vw;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.body-text {
	font-size: 1vw;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}




#datetime {
	font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.flex-item {
	background: tomato;
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;

	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}
.wrapper > * { /* apply the style to all child objects of 'wrapper' */
	padding: 12px;
	flex: 1 100%;
}
.header {
	background: tomato;
}
.footer {
	background: lightgreen;
}
.main {
	/* text-align: left; */
	background: deepskyblue;
}
.aside-1 {
	background: gold;
}
.aside-2 {
	background: hotpink;
}
@media all and (min-width: 600px) {
	.aside { flex: 1 0 0; }
}
@media all and (min-width: 800px) {
	.main { flex: 3 0 px; }
	.aside-1 { order: 1; }
	.aside-2 { order: 2; }
	.footer { order: 3; }
}
.navigation {
	list-style: none;
	margin: 0;

	background: tomato;

	display: flex;

	flex-flow: row wrap;
	justify-content: flex-end;
}
.navigation a {
	text-decoration: none;
	display: block;
	padding-right: 10px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.navigation a:hover { /* on mouse over ('hover'), change colour */
	color: royalblue;
}
@media all and (max-width: 800px) { /* @media rule is used in media queries to apply different styles for different media types/devices - this one resizes the navigation bar, based on the window width */
	.navigation {
		justify-content: space-around;
	}
}
@media all and (max-width: 600px) {
	.navigation {
		flex-flow: column wrap;
		padding: 0;
	}
	.navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.navigation li:last-of-type a {
		border-bottom: none;
	}
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: tomato;
	padding: 20px;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.4);*
	padding: 10px;
	font-size: 30px;
	text-align: center;
}
.grid-container2 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: tomato;
	padding: 10px;
}
.grid-container2 > div { /* CSS selector ‘>’ selects all the direct descendents (children) of the class that the style is applied to */
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.item1 {
	grid-column-start: 1;
	grid-column-end: 3;
}
