:root {
	--color-transparent: 255, 255, 255, 0;
	--color-soft-white: 255, 255, 255, 0.3;
	--color-hard-white: 255, 255, 255, 0.6;
	--color-pure-white: 255, 255, 255, 1;
}

body {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right, rgb(20, 20, 30), rgb(20, 20, 55));
	/* linear-gradient(to right, rgb(11 11 53), rgb(76 76 113)) */
}

#page-grid {
	padding: 0;
	margin: 0;
	display: grid;
	grid-row-gap: 20vw;
}

.text-as-svg {
	padding: 0 5px;
}

.text-as-svg > path { /* hide all SVGs' paths until the animations begin */
	stroke-opacity: 0;
}

#heading {
	height: 40vw;
	background-image: linear-gradient(to right, #ca254d, #ff614b, #fc7f56, #ffb75e);;
	/* blue to cyan: rgb(0, 112, 255), rgb(2, 211, 248) */
	/* linear-gradient(to right, rgb(249 63 63), rgb(255 140 24), rgb(255 217 78)) */
	/* linear-gradient(to right, #7e1c67, #ad2275, #d73679, #d7505f, #de7963, #df9d72, #b79d73) */
	/* linear-gradient(to right, #ad2275, #e55767, #f98c74, #f1aa7b, #d5b580) */
	/* linear-gradient(to right, #7e1c67, #e55767, #f98c74, #f1aa7b, #d5b580) */
	/* linear-gradient(to right,#a14e7a, #b1506f, #f15676, #f8596f, #f9726e, #fa7a6f, #ffa46e, #eacc6d) */
	/* linear-gradient(to right, #d72b54, #fd5b44, #fc7f56) */
	/* linear-gradient(to right, #d72b54, #ff614b, #fc7f56, #ffb75e) */
	/* linear-gradient(to right, #9f2569, #ca254d, #ff614b, #fc7f56, #ffb75e); */
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
	z-index: -1;
}

#heading-container {
	/*transform: translateY(50%);*/
	padding: 5vw 20px;
}

#heading-items-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;

	margin-block-start: 0;
    margin-block-end: 0;
}

/*.heading-svg {
	/* width: 52vw; / adjusts the size with the page (viewport width) /

	/*padding-left: 20px;/
  	/*top: 30%;
	transform: translateY(-50%);/

	/*animation: vector-fill-animation 0.5s ease forwards 4.4s;/
}*/

#heading-svg-1 {
	width: 30vw;/*536px;*/
}

#heading-svg-2 {
	width: 43vw;/*747px;*/
}

@keyframes vector-stroke-animation {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes vector-fill-animation {
	/*from {
		fill: rgba(var(--color-transparent));
	}*/
	to {
		fill: rgba(var(--color-pure-white));;
	}
}

#heading-item-1 {
	display: inline-flex;
	justify-content: space-evenly;
}

#heading-item-2 {
	display: inline-flex;
	justify-content: flex-start;
	gap: 10px;
}

#heading-text {
	/*width: auto;
  	height: 50vw;*/ /* adjusts the font size with the page */
	/*margin-right: 5px;*/
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 3vw;/*65px;*/
	font-family: 'Varela Round', serif;
	/*padding-left: 20px;
  	position: absolute;*/
	
	font-weight: bold;
	color: rgba(var(--color-transparent));

	/*animation: glide-reveal-animation 1s ease forwards 4.4s var(--start) var(--end);*/

}
@keyframes text-reveal-animation {
	from {
		color: rgba(var(--color-transparent));
		margin-top: 10px;
		margin-bottom: 0;
	}
	to {
		color: rgba(var(--color-pure-white));
		margin-top: 0;
		margin-bottom: 10px;
	}
}

#heading-icon {
	/* display: inline-block; */
  	width: 3vw;/*65px;*/
	height: auto;
	/*margin-left: 5px;*/
	margin-top: 10px;
	margin-bottom: 0;

	/*padding-right: 20px;
	transform: translateY(140%);
	float: right;*/

	fill-opacity: 0;
	/* animation: vector-reveal-animation 0.5s ease forwards 4.4s; */
}
@keyframes vector-reveal-animation {
	from {
		fill-opacity: 0;
		margin-top: 10px;
		margin-bottom: 0;
	}
	to {
		fill-opacity: 1;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 1283px) and (max-width: 2048px) {
	#heading-svg-1 {
		width: 33vw;
	}
	
	#heading-svg-2 {
		width: 46vw;
	}

	#heading-text {
		font-size: 4vw;
	}

	#heading-icon {
		width: 4vw;
	}
}

@media screen and (max-width: 1282px) {
	#page-grid {
		grid-template-rows: 90vh;
	}

	#heading {
		/* clip-path: none;
		height: fit-content; */
		clip-path: circle(70.7% at 50% 25%);
		height: auto;
		text-align: center;
	}

	#heading-container {
		position: relative;
		top: 40%;
		-webkit-transform: translateY(-60%);
		-ms-transform: translateY(-60%);
		transform: translateY(-60%);
	}

	#heading-item-1 {
		flex-direction: column;
    	align-items: center;
	}

	#heading-item-2 {
		flex-wrap: wrap;
		justify-content: center;
	}

	#heading-text {
		text-align: center;
		font-size: 50px;
	}

	#heading-icon {
		width: 50px;
	}

	#heading-svg-1 {
		width: 422px;
		
	}

	#heading-svg-2 {
		width: 593px;
	}
}

.body-svg-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 0 10px; */
}

@media screen and (max-width: 684px) {
	#heading-svg-1 {
		width: 64vw;
	}

	#heading-svg-2 {
		width: 90vw;
	}

	#heading-text {
		font-size: 7.3vw;
	}

	#heading-icon {
		width: 7.3vw;
	}

	#heading-item-2 {
		gap: 1.4vw;
	}
}

@media screen and (max-width: 457px) {
	#welcome-container svg:nth-child(1) {
		width: 217.4px;
	}

	#welcome-container svg:nth-child(2) {
		width: 47.1px;
	}

	#welcome-container svg:nth-child(3) {
		width: 75.4px;
	}

	#welcome-container svg:nth-child(4) {
		width: 300px;
	}

	#employment-container svg:nth-child(1) {
		width: 209.4px;
	}

	#employment-container svg:nth-child(2) {
		width: 302.2px;
	}
}

.body-grid-item > *:not(:last-child) {
    margin-bottom: 4vw !important;
}

.card-container {
	display: table;   /* allows centre-ing of lists to work */
	margin: 0 auto;
	opacity: 0;
}
.card-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.body-card {
	display: inline;
	overflow: hidden;

	width: 300px;
	height: 450px;
	margin: 20px;

	background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.35));
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(var(--color-soft-white));
	backdrop-filter: blur(5px);
}
.body-card-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 100px;
	row-gap: 2px;
	height: 100%;
}
.body-card-heading {
	width: inherit;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
	cursor: pointer;
}
.body-card-heading > .card-title {
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: rgba(var(--color-pure-white));
	font-family: 'Varela Round', serif;
	margin-block-start: 0;
	margin-block-end: 0;
	width: 70%;
}
.body-card-heading > img {
	width: 30%;
}
.to-circle-img {
	clip-path: circle();
}
.body-card-body {
	grid-column-start: 1;
    grid-column-end: 2;
	overflow-y: auto;
	padding-right: 4px;

	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	mask-size: calc(100% - 8px) 100%, 8px 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    -webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	-webkit-mask-size: calc(100% - 6px) 100%, 6px 100%;
    -webkit-mask-position: 0 0, 100% 0;
    -webkit-mask-repeat: no-repeat, no-repeat;
}
.body-card-body::-webkit-scrollbar {
	display: block;
    width: 6px;
	right: 50px
}
.body-card-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 9999px;
}
.body-card-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.body-card-body::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece {
	margin-left: 10px;
}
.card-text {
	font-size: 12pt;
	text-align: left;
	font-family: 'Varela Round', serif;
	color: rgba(var(--color-pure-white));
}
.card-text > a {
	color: #1c8ade;
	font-weight: bolder;
	text-decoration: none;
}
.card-text > a:hover {
	color: #1d9af9;
	font-weight: bolder;
	text-decoration: underline;
}
.body-card-body > :first-child {
	margin-block-start: 0;
	margin-top: 32px;
}
.body-card-body > :last-child {
	margin-block-end: 0;
	margin-bottom: 32px;
}
.body-card-grid > :first-child {
	margin-top: 10px;
}
.body-card-grid > * {
	margin-left: 10px;
	margin-right: 10px;
}
.body-card-grid > :last-child {
	margin-bottom: 10px;
}
@keyframes svg-sibling-reveal-animation {
	from {
		opacity: 0;
		transform: translateY(1%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*.body-card {
	background-color: rgba(var(--color-soft-white));
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(5px);
}
.body-card * {
	padding: 10px;
}
.body-card p {
	color: rgba(var(--color-pure-white))
}*/
/* this allows us to only pad only the element edges at the edge of the card, rather than between every element as well */
/*.body-card:first-child {
	padding-top: 10px;
}
.body-card > section {
	padding-left: 10px;
	padding-right: 10px;
}
.body-card:last-child {
	padding-bottom: 10px;
}*/

#about-me {
	display: flow-root;
	width: 920px;
	margin: 0 auto;
	opacity: 0;
}

#bitmoji {
	cursor: pointer;
	width: 300px;
	height: auto;
	float: right;
	-webkit-shape-outside: url("../static/bitmoji.svg");
	shape-outside: url("../static/bitmoji.svg");
	shape-margin: 10px;
}

.body-paragraph {
	color: rgba(var(--color-pure-white));
	font-family: 'Varela Round', serif;
	font-size: 20px;
	/*opacity: 0;*/
}

.about-me-paragraph {
	hyphens: auto;
}

@media screen and (max-width: 1020px) {
	#about-me {
		width: 90.196078431372549019607843137255%;
	}

	#bitmoji {
		shape-margin: 1%;
	}
}

@media screen and (max-width: 666px) {
	#bitmoji {	
		width: 50%;
	}
}