:root {
	--color-transparent: 255, 255, 255, 0;
	--color-soft-white: 255, 255, 255, 0.3;
	--color-hard-white: 255, 255, 255, 0.6;
	--color-pure-white: 255, 255, 255, 1;
}

body {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right, rgb(20, 20, 30), rgb(20, 20, 55));
	/* linear-gradient(to right, rgb(11 11 53), rgb(76 76 113)) */
}

#page-grid {
	padding: 0;
	margin: 0;
	display: grid;
	row-gap: 300px;
}

a {
	color: #1c8ade;
	font-weight: bolder;
	text-decoration: none;
}
a:hover {
	color: #1d9af9;
	font-weight: bolder;
	text-decoration: underline;
}

.text-as-svg {
	margin: 0 5px;
}

.text-as-svg > path { /* hide all SVGs' paths until the animations begin */
	stroke-opacity: 0;
}

#heading {
	min-height: 100vh;
	display: grid;

	/* height: 40vw;
	background-image: linear-gradient(to right, #ca254d, #ff614b, #fc7f56, #ffb75e);
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
	z-index: -1; */
	
	/* blue to cyan: rgb(0, 112, 255), rgb(2, 211, 248) */
	/* linear-gradient(to right, rgb(249 63 63), rgb(255 140 24), rgb(255 217 78)) */
	/* linear-gradient(to right, #7e1c67, #ad2275, #d73679, #d7505f, #de7963, #df9d72, #b79d73) */
	/* linear-gradient(to right, #ad2275, #e55767, #f98c74, #f1aa7b, #d5b580) */
	/* linear-gradient(to right, #7e1c67, #e55767, #f98c74, #f1aa7b, #d5b580) */
	/* linear-gradient(to right,#a14e7a, #b1506f, #f15676, #f8596f, #f9726e, #fa7a6f, #ffa46e, #eacc6d) */
	/* linear-gradient(to right, #d72b54, #fd5b44, #fc7f56) */
	/* linear-gradient(to right, #d72b54, #ff614b, #fc7f56, #ffb75e) */
	/* linear-gradient(to right, #9f2569, #ca254d, #ff614b, #fc7f56, #ffb75e); */
}

#waves-container, #heading-container {
	grid-column: 1;
	grid-row: 1;
}

#waves-container {
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes wave-animation {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-20%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes wave-animation-reverse {
	0% {
		transform: translateX(-20%);
	}
	50% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-20%);
	}
}

#heading-container {
	/*transform: translateY(50%);*/
	margin: auto 20px;
}

#heading-items-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;

	margin-block-start: 0;
    margin-block-end: 0;
}

/*.heading-svg {
	/* width: 52vw; / adjusts the size with the page (viewport width) /

	/*padding-left: 20px;/
  	/*top: 30%;
	transform: translateY(-50%);/

	/*animation: vector-fill-animation 0.5s ease forwards 4.4s;/
}*/

#heading-svg-1 {
	width: 768px;
}

#heading-svg-2 {
	width: 1100.79px;
}

@keyframes vector-stroke-animation {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes vector-fill-animation {
	/*from {
		fill: rgba(var(--color-transparent));
	}*/
	to {
		fill: rgba(var(--color-pure-white));;
	}
}

#heading-item-1 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#heading-item-2 {
	display: inline-flex;
	justify-content: flex-start;
	gap: 10px;
}

#heading-text {
	/*width: auto;
  	height: 50vw;*/ /* adjusts the font size with the page */
	/*margin-right: 5px;*/
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 76.79px;
	font-family: 'Varela Round', serif;
	/*padding-left: 20px;
  	position: absolute;*/
	
	font-weight: bold;
	color: rgba(var(--color-transparent));

	/*animation: glide-reveal-animation 1s ease forwards 4.4s var(--start) var(--end);*/
}

@keyframes text-reveal-animation {
	from {
		color: rgba(var(--color-transparent));
		margin-top: 10px;
		margin-bottom: 0;
	}
	to {
		color: rgba(var(--color-pure-white));
		margin-top: 0;
		margin-bottom: 10px;
	}
}

#heading-icon {
	/* display: inline-block; */
  	width: 76.79px;
	height: auto;
	/*margin-left: 5px;*/
	margin-top: 10px;
	margin-bottom: 0;

	/*padding-right: 20px;
	transform: translateY(140%);
	float: right;*/

	fill-opacity: 0;
	/* animation: vector-reveal-animation 0.5s ease forwards 4.4s; */
}

@media screen and (max-width: 1928px) {
	#heading-item-1, #heading-item-2 {
		justify-content: center;
	}
}

/*.custom-shape-divider-top-1669035928 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669035928 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1669035928 .shape-fill {
    fill: rgba(var(--color-pure-white));
}*/

@keyframes vector-reveal-animation {
	from {
		fill-opacity: 0;
		margin-top: 10px;
		margin-bottom: 0;
	}
	to {
		fill-opacity: 1;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1282px) {
	/* #heading {
		/* clip-path: none;
		height: fit-content; * /
		clip-path: circle(70.7% at 50% 25%);
		height: auto;
		text-align: center;
	}*/

	#heading-container {
		margin: auto auto;
		/* position: relative;
		top: 40%;
		-webkit-transform: translateY(-60%);
		-ms-transform: translateY(-60%);
		transform: translateY(-60%);
		padding: 0; */
	}

	#heading-text {
		font-size: 6.452941176470588235294117647059vw;
	}

	#heading-icon {
		width: 6.452941176470588235294117647059vw;
	}

	#heading-svg-1 {
		width: 64.537815126050420168067226890756vw;
		
	}

	#heading-svg-2 {
		width: 92.503361344537815126050420168067vw;
	}
}

.body-svg-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 0 10px; */
}

@media screen and (max-width: 474px) {
	#welcome-container svg:nth-child(1) {
		width: 63.291139240506329113924050632911vw;
	}

	#welcome-container svg:nth-child(2) {
		width: 13.713080168776371308016877637131vw;
	}

	#welcome-container svg:nth-child(3) {
		width: 21.940928270042194092827004219409vw;
	}

	#welcome-container svg:nth-child(4) {
		width: 87.341772151898734177215189873418vw;
	}

	#experience-container svg:nth-child(1) {
		width: 63.291139240506329113924050632911vw;
	}

	#experience-container svg:nth-child(2) {
		width: 74.050632911392405063291139240506vw;
	}

	#certifications-container svg:nth-child(1) {
		width: 94.514767932489451476793248945148vw;
	}
}

.body-grid-item > *:not(:last-child) {
    margin-bottom: 50px !important;
}

.card-container {
	display: table;   /* allows centre-ing of lists to work */
	margin: 0 auto;
	opacity: 0;
}
.card-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.body-card {
	display: inline;
	overflow: hidden;

	width: 300px;
	height: 450px;
	margin: 20px;

	background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.35));
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(var(--color-soft-white));
	backdrop-filter: blur(5px);
}
.body-card-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 100px;
	row-gap: 2px;
	height: 100%;
}
.body-card-heading {
	width: inherit;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
	cursor: pointer;
}
.body-card-heading > .card-title {
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: rgba(var(--color-pure-white));
	font-family: 'Varela Round', serif;
	margin-block-start: 0;
	margin-block-end: 0;
	width: 70%;
}
.body-card-heading > img {
	width: 30%;
}
.circle-img {
	clip-path: circle();
}
.body-card-body {
	grid-column-start: 1;
    grid-column-end: 2;
	overflow-y: auto;
	padding-right: 4px;

	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	mask-size: calc(100% - 8px) 100%, 8px 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    -webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	-webkit-mask-size: calc(100% - 6px) 100%, 6px 100%;
    -webkit-mask-position: 0 0, 100% 0;
    -webkit-mask-repeat: no-repeat, no-repeat;
}
.body-card-body::-webkit-scrollbar {
	display: block;
    width: 6px;
	right: 50px
}
.body-card-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 9999px;
}
.body-card-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.body-card-body::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece {
	margin-left: 10px;
}
.card-text {
	font-size: 12pt;
	text-align: left;
	font-family: 'Varela Round', serif;
	color: rgba(var(--color-pure-white));
}
.body-card-body > :first-child {
	margin-block-start: 0;
	margin-top: 32px;
}
.body-card-body > :last-child {
	margin-block-end: 0;
	margin-bottom: 32px;
}
.body-card-grid > :first-child {
	margin-top: 10px;
}
.body-card-grid > * {
	margin-left: 10px;
	margin-right: 10px;
}
.body-card-grid > :last-child {
	margin-bottom: 10px;
}
@keyframes svg-sibling-reveal-animation {
	from {
		opacity: 0;
		transform: translateY(1%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*.body-card {
	background-color: rgba(var(--color-soft-white));
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(5px);
}
.body-card * {
	padding: 10px;
}
.body-card p {
	color: rgba(var(--color-pure-white))
}*/
/* this allows us to only pad only the element edges at the edge of the card, rather than between every element as well */
/*.body-card:first-child {
	padding-top: 10px;
}
.body-card > section {
	padding-left: 10px;
	padding-right: 10px;
}
.body-card:last-child {
	padding-bottom: 10px;
}*/

#about-me {
	display: flow-root;
	max-width: 920px;
	margin: 0 auto;
	opacity: 0;
}

#bitmoji {
	cursor: pointer;
	width: 300px;
	float: right;
	-webkit-shape-outside: var(--bitmoji-url);
	shape-outside: var(--bitmoji-url);
	shape-margin: 10px;
}

.body-paragraph {
	color: rgba(var(--color-pure-white));
	font-family: 'Varela Round', serif;
	font-size: 20px;
	/*opacity: 0;*/
}

.about-me-paragraph {
	hyphens: auto;
}

@media screen and (max-width: 970px) {
	#about-me {
		margin: 0 25px;
	}

	#page-grid {
		row-gap: 200px;
	}
}

@media screen and (max-width: 566px) {
	#bitmoji {	
		width: 58%;
	}
}

.experience-list {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	max-width: fit-content;
	margin: 0 auto;
}

.experience-item-text-globals {
	text-align: left;
	font-weight: bold;
	font-family: 'Varela Round', serif;
	margin-block-start: 0;
	margin-block-end: 0;
	color: rgba(var(--color-pure-white));
}

.experience-item-title {
	font-size: 20pt;
	margin: auto 0;
}

.experience-item-subtitle {
	font-size: 16pt;
}

.experience-item-duration {
	font-size: 10pt;
}

.experience-list-item {
	margin: 0 20px;
}

.experience-item-body-container {
    margin-top: 8px;
    margin-bottom: 40px;
}

.experience-item-body-container > p:not(:last-of-type) {
	margin-bottom: 8px;
}

.experience-item-body-text {
    font-size: 12pt;
    text-align: left;
    font-family: 'Varela Round', serif;
    color: rgba(var(--color-pure-white));
	margin-block-start: 0;
	margin-block-end: 0;
    /* margin-inline-start: 7px; */
}

.experience-item-grid {
	max-width: 1000px;
	display: grid;
	grid-template-columns: 80px auto;
	column-gap: 20px;
}

.experience-item-grid > :first-child {
	width: 80px;
}

@media screen and (max-width: 472px) {
	.experience-item-grid {
		grid-template-columns: 60px auto;
		column-gap: 10px;
	}

	.experience-item-grid > :first-child {
		width: 60px;
	}
}

.experience-item-body-grid {
	display: grid;
	grid-template-columns: 20px auto;
	grid-template-rows: auto auto;
	column-gap: 5px;
}

.dot {
	margin: auto auto;
	height: 8px;
	width: 8px;
	background-color: rgba(var(--color-pure-white));
	border-radius: 50%;
	display: inline-block;
}

.vertical-line {
	margin: 0 auto;
	height: auto;
	width: 3px;
	background-color: rgba(var(--color-hard-white));
	border-radius: 50px;
}

.experience-list-separator {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	height: 4px;
	background-color: white;
	border-radius: 50px;
}