:root {
	--color-soft-white: 255, 255, 255, 0.3;
	--color-hard-white: 255, 255, 255, 0.6;
}

body {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right, rgb(20, 20, 30), rgb(20, 20, 55));
}

#page-grid {
	padding: 0;
	margin: 0;
	display: grid;
	row-gap: 300px;
}

a {
	color: #1c8ade;
	font-weight: bolder;
	text-decoration: none;
}
a:hover {
	color: #1d9af9;
	font-weight: bolder;
	text-decoration: underline;
}

.text-as-svg {
	margin: 0 5px;
}

.text-as-svg > path { /* hide all SVGs' paths until the animations begin */
	stroke-opacity: 0;
}

#heading {
	height: 100vh;
	display: grid;
}

#waves-container, #heading-container {
	grid-column: 1;
	grid-row: 1;
}

#waves-container {
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes wave-animation {
	50% {
		transform: translateX(-20%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes wave-animation-reverse {
	50% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-20%);
	}
}

#heading-container {
	margin: auto auto;
}

#heading-items-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	margin-block-start: 0;
    margin-block-end: 0;
}

@keyframes vector-stroke-animation {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes vector-fill-animation {
	to {
		fill: white;;
	}
}

#heading-item-1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#heading-svg-1 {
	width: 29.6875vw;
	max-width: 760px;
	max-height: 295.55px;
}

#heading-svg-2 {
	width: 42.96875vw;
	max-width: 1000px;
	max-height: 295.55px;
}

#heading-item-2 {
	display: inline-flex;
	justify-content: center;
	opacity: 0;
	gap: 10px;
	align-items: center;
}

#heading-text {
	font-size: 2.999609375vw;
	font-family: 'Varela Round', serif;
	font-weight: bold;
	color: white;
}

@media screen and (min-width: 2560px) {
	#heading-text {
		font-size: 76.79px;
	}
}

#heading-icon {
	width: 2.999609375vw;
	max-width: 76.79px;
	height: auto;
	text-align: unset;
}

@keyframes subheading-reveal-animation {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*.custom-shape-divider-top-1669035928 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669035928 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1669035928 .shape-fill {
    fill: white;
}*/

@media screen and (max-width: 1279px) {
	#heading-item-1 {
		flex-direction: column;
	}

	@media screen and (orientation: landscape) {
		#heading-text {
			font-size: 36.99px;
		}

		#heading-icon {
			width: 36.99px;
			height: auto;
		}

		#heading-svg-1 {
			width: 366.15px;
			height: auto;
			
		}

		#heading-svg-2 {
			width: 529.95px;
			height: auto;
		}
	}

	@media screen and (orientation: portrait), (max-width: 560px) {
		#heading-text {
			font-size: 6.605357142857142857142857142857vw;
		}

		#heading-icon {
			width: 6.605357142857142857142857142857vw;
			height: auto;
		}

		#heading-svg-1 {
			width: 65.383928571428571428571428571429vw;
			height: auto;
			
		}

		#heading-svg-2 {
			width: 94.633928571428571428571428571429vw;
			height: auto;
		}
	}
}

/* @media screen and (orientation: landscape) and (max-height: 784px) {
	/* TODO: fix dynamic heights causing widths to overflow the page size *

	#heading-text {
		font-size: 9.794642857142857142857142857143vh;
	}

	#heading-icon {
		height: 7.609693877551020408163265306122vh;
		width: auto;
	}

	#heading-svg-1 {
		height: 38.87372448979591836734693877551vh;
		width: auto;
	}

	#heading-svg-2 {
		height: 38.87372448979591836734693877551vh;
		width: auto;
	}
} */

.body-svg-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 0 10px; */
}

@media screen and (max-width: 474px) {
	#welcome-container svg:nth-child(1) {
		width: 63.291139240506329113924050632911vw;
	}

	#welcome-container svg:nth-child(2) {
		width: 13.713080168776371308016877637131vw;
	}

	#welcome-container svg:nth-child(3) {
		width: 21.940928270042194092827004219409vw;
	}

	#welcome-container svg:nth-child(4) {
		width: 74.472573839662447257383966244726vw;
	}

	#experience-container svg:nth-child(1) {
		width: 63.291139240506329113924050632911vw;
	}

	#experience-container svg:nth-child(2) {
		width: 74.050632911392405063291139240506vw;
	}

	#certifications-container svg:nth-child(1) {
		width: 94.514767932489451476793248945148vw;
	}

	#aspirations-container svg:nth-child(1) {
		width: 90.084388185654008438818565400844vw;
	}
}

.body-grid-item > *:not(:last-child) {
    margin-bottom: 50px !important;
}

.card-container {
	display: table; /* allows centre-ing of lists to work */
	margin: 0 auto;
	opacity: 0;
}
.card-list {
	list-style: none;
	padding-inline-start: 0;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.body-card {
	display: inline;
	overflow: hidden;

	max-width: 300px;
	height: 450px;
	margin: 20px;

	background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.35));
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(var(--color-soft-white));
	backdrop-filter: blur(5px);
}
.body-card-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 100px;
	row-gap: 2px;
	height: 100%;
}
.body-card-heading {
	width: inherit;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
	cursor: pointer;
}
.body-card-heading > .card-title {
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	font-family: 'Varela Round', serif;
	margin-block-start: 0;
	margin-block-end: 0;
	width: 70%;
}
.body-card-heading > img {
	width: 30%;
}
.circle-img {
	clip-path: circle();
}
.body-card-body {
	grid-column-start: 1;
    grid-column-end: 2;
	overflow-y: auto;
	padding-right: 4px;

	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	mask-size: calc(100% - 8px) 100%, 8px 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    -webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 32px,
		black calc(100% - 32px),
		transparent
	), linear-gradient(black, black);
	-webkit-mask-size: calc(100% - 6px) 100%, 6px 100%;
    -webkit-mask-position: 0 0, 100% 0;
    -webkit-mask-repeat: no-repeat, no-repeat;
}
.body-card-body::-webkit-scrollbar {
	display: block;
    width: 6px;
	right: 50px;
}
.body-card-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 90px;
}
.body-card-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.body-card-body::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 32px;
}
.body-card-body::-webkit-scrollbar-track-piece {
	margin-left: 10px;
}
.card-text {
	font-size: 12pt;
	text-align: left;
	font-family: 'Varela Round', serif;
	color: white;
}
.body-card-body > :first-child {
	margin-block-start: 0;
	margin-top: 32px;
}
.body-card-body > :last-child {
	margin-block-end: 0;
	margin-bottom: 32px;
}
.body-card-grid > :first-child {
	margin-top: 10px;
}
.body-card-grid > * {
	margin-left: 10px;
	margin-right: 10px;
}
.body-card-grid > :last-child {
	margin-bottom: 10px;
}
@keyframes svg-sibling-reveal-animation {
	from {
		opacity: 0;
		transform: translateY(1%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

#about-me {
	display: flow-root;
	max-width: 920px;
	margin: 0 auto;
	opacity: 0;
}

#bitmoji {
	cursor: pointer;
	width: 300px;
	float: right;
	-webkit-shape-outside: var(--bitmoji-url);
	shape-outside: var(--bitmoji-url);
	shape-margin: 10px;
}

.body-paragraph {
	color: white;
	font-family: 'Varela Round', serif;
	font-size: 20px;
}

.about-me-paragraph {
	hyphens: auto;
}

@media screen and (max-width: 970px) {
	#about-me {
		margin: 0 25px;
	}

	#page-grid {
		row-gap: 200px;
	}
}

@media screen and (max-width: 566px) {
	#bitmoji {	
		width: 58%;
	}
}

.experience-list {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	max-width: fit-content;
	margin: 0 auto;
}

.experience-item-text-globals {
	text-align: left;
	font-weight: bold;
	font-family: 'Varela Round', serif;
	margin-block-start: 0;
	margin-block-end: 0;
	color: white;
}

.experience-item-heading {
	display: contents;
	grid-column-start: 1;
	grid-column-end: 2;
}

.experience-item-image {
	width: 80px;
	cursor: pointer;
}

.experience-item-title {
	font-size: 20pt;
	margin: auto 0;
}

.experience-item-subtitle {
	font-size: 16pt;
}

.experience-item-duration {
	font-size: 10pt;
}

.experience-list-item {
	margin: 0 20px;
}

.experience-item-body-container {
    margin: auto 0;
}

.experience-item-grid > .experience-item-body-container:last-of-type {
	margin-bottom: 8px;
}

.experience-item-body-text {
    font-size: 12pt;
    text-align: left;
    font-family: 'Varela Round', serif;
    color: white;
	margin-block-start: 0;
	margin-block-end: 0;
    /* margin-inline-start: 7px; */
	hyphens: auto;
}

.experience-item-grid {
	max-width: 1000px;
	display: grid;
	grid-template-columns: 80px auto;
	column-gap: 20px;
	row-gap: 10px;
}

.experience-item-body-grid {
	display: grid;
	grid-template-columns: 20px auto;
	grid-template-rows: auto auto;
	column-gap: 10px;
	row-gap: 10px;
	grid-column-start: 2;
}

.experience-item-body-grid > .experience-item-body-container:not(:last-of-type) {
	margin-bottom: 40px;
}

#additional-experience {
	grid-row-start: 2;
	grid-column-start: 2;
}

.experience-item-body-container > p:not(:last-of-type), #additional-experience > p:not(:last-of-type) {
	margin-bottom: 10px;
}

@media screen and (max-width: 472px) {
	.experience-item-grid {
		grid-template-columns: 60px auto;
		column-gap: 10px;
	}

	.experience-item-image {
		width: 60px;
	}

	.experience-item-body-grid {
		display: contents;
		grid-column-start: 1;
		grid-column-end: 2;
	}
}

.dot {
	border-radius: 50%;
	display: inline-block;
}

.experience-dot {
	margin: auto auto;
	height: 8px;
	width: 8px;
	background-color: white;
}

.vertical-line {
	margin: 0 auto;
	height: auto;
	width: 3px;
	background-color: rgba(var(--color-hard-white));
	border-radius: 50px;
}

.experience-list-separator {
	margin: 40px 20px;
	height: 4px;
	background-color: white;
	border-radius: 50px;
}

#ide-background {
	display: grid;
	grid-template-rows: 30px auto;
	grid-template-columns: auto;
	background-color: #0d1117;
	border-radius: 10px;
	border: solid #3d444e;
	border-width: 1px;
	width: auto;
	height: auto;
	max-width: 400px;
	min-height: 400px;
	margin: 10px;
	opacity: 0;
}

#ide-window-top {
	display: flex;
    justify-content: flex-end;
	flex-wrap: wrap;
	align-content: center;
    border-bottom: 1px solid #3d444e;
}

#ide-app-icon {
	width: 17px;
	height: 17px;
	margin-left: 6px;
}

#ide-file-name {
	margin: auto;
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 14px;
	font-family: FiraCodeiScript-Regular;
	color: white;
}

#ide-window-controllers {
	float: right;
	margin-right: 10px;
}

.ide-dot {
	width: 10px;
	height: 10px;
}

#ide-editor {
	max-height: 370px;
	overflow-y: auto;
	display: grid;
	grid-template-columns: 25px auto;
}

#ide-line-numbers {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	margin: 0 auto 14px auto;
	width: 100%;
    border-right: 1px solid #3d444e;
}

#ide-line-numbers > li {
	font-family: FiraCodeiScript-Regular;
	text-align: center;
}

#ide-line-numbers:first-child {
	margin-top: 4px;
}

#ide-code {
	overflow-y: clip;
	overflow-x: auto;
	margin-left: 5px;
	margin-top: 4px;
}

#ide-code > span {
	white-space: nowrap;
}

#ide-code::-webkit-scrollbar, #ide-editor::-webkit-scrollbar {
	display: block;
}

#ide-code::-webkit-scrollbar {
    height: 13px;
}

#ide-editor::-webkit-scrollbar {
    width: 13px;
}

#ide-code::-webkit-scrollbar-thumb, #ide-editor::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-hard-white));
	background-clip: content-box;
	border: 5px solid transparent;
    border-radius: 90px;
}

#ide-code::-webkit-scrollbar-thumb {
	margin-bottom: 10px;
}

#ide-editor::-webkit-scrollbar-thumb {
	margin-right: 10px;
}

#ide-code::-webkit-scrollbar-track, #ide-code::-webkit-scrollbar-track {
    background-color: transparent;
}

#ide-code::-webkit-scrollbar-track {
	margin-bottom: 10px;
}

#ide-editor::-webkit-scrollbar-track {
	margin-right: 10px;
}

#ide-code::-webkit-scrollbar-track-piece {
	margin-bottom: 10px;
}

#ide-editor::-webkit-scrollbar-track-piece {
	margin-right: 10px;
}

.ide-code-standard {
	font-family: FiraCodeiScript-Regular;
	color: #ffffff;
}

.ide-code-keyword {
	font-family: FiraCodeiScript-Regular;
	color: #d256ff;
}

.ide-code-string {
	font-family: FiraCodeiScript-Italic;
	color: #a6fa7f;
}

.ide-code-function {
	font-family: FiraCodeiScript-Regular;
	color: #ffcc00;
}

.ide-code-parameter {
	font-family: FiraCodeiScript-Italic;
	color: #fb4667;
}

.ide-code-variable {
	font-family: FiraCodeiScript-Regular;
	color: #f78c6c;
}

.ide-code-operator {
	font-family: FiraCodeiScript-Regular;
	color: #4dcacf;
}

@keyframes ide-text-cursor-animation {
	0% {
		border-right: 2px solid white;
	}
	50% {
		border-right: none;
	}
	100% {
		border-right: 2px solid white;
	}
}